<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU9nifyBOuo4fFg1t_X0JTyIwA3_fryF4</string>
	<key>GCM_SENDER_ID</key>
	<string>724057132331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advisorApp</string>
	<key>PROJECT_ID</key>
	<string>advisor-app-59e31</string>
	<key>STORAGE_BUCKET</key>
	<string>advisor-app-59e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724057132331:ios:89eba1492b4143c438c96e</string>
</dict>
</plist>